<template>
    <name>AlmaLinux-GenericCloud-10-TIMESTAMP.IMGBUILDNUMBER.s390x</name>
        <os>
            <name>CentOS-9</name>
            <version>1</version>
            <arch>s390x</arch>
            <install type='url'>
                <url>https://repo.almalinux.org/almalinux/10/BaseOS/s390x/os</url>
            </install>
      </os>
    <description>AlmaLinux-GenericCloud-10-TIMESTAMP.IMGBUILDNUMBER.s390x</description>
    <disk>
        <size>10G</size>
    </disk>
</template>
