<template>
    <name>AlmaLinux-10-GenericCloud-10.MINOR_VERSION-TIMESTAMP.IMGBUILDNUMBER.s390x</name>
        <os>
            <name>CentOS-9</name>
            <version>1</version>
            <arch>s390x</arch>
            <install type='url'>
                <url>https://repo.almalinux.org/almalinux/10/BaseOS/s390x/kickstart/</url>
            </install>
      </os>
    <description>AlmaLinux-10-GenericCloud-10.MINOR_VERSION-TIMESTAMP.IMGBUILDNUMBER.s390x</description>
    <disk>
        <size>10G</size>
    </disk>
</template>
