---
- name: Install Hyper-V dependencies
  dnf:
    install_weak_deps: "{{ false if ansible_facts['distribution_major_version'] | int >= 9 else omit }}"
    name:
      - cifs-utils
      - hyperv-daemons
    state: installed

- name: Enable Hyper-V services
  service:
    name: "{{ item }}"
    enabled: yes
  with_items:
    - hypervvssd
    - hypervkvpd
    - hypervfcopyd

- name: Delete qemu-guest-agent package
  ansible.builtin.dnf:
    name: qemu-guest-agent
    state: absent
