---
# tasks file for configuring bootloader
- name: Configuring GRUB default settings
  ansible.builtin.copy:
    src: grub
    dest: /rootfs/etc/default/grub
    mode: '0644'

- name: Generate the GRUB configuration file
  ansible.builtin.command: chroot /rootfs grub2-mkconfig -o /boot/grub2/grub.cfg
  changed_when: true

- name: Enable OS Probe again
  ansible.builtin.lineinfile:
    path: /rootfs/etc/default/grub
    regexp: 'GRUB_DISABLE_OS_PROBER.*'
    state: absent

- name: Delete the GRUB leftover from host system
  ansible.builtin.file:
    path: /rootfs/boot/efi/EFI/almalinux/grub.cfg.rpmsave
    state: absent
