---
- name: Remove older versions kernel and other packages
  ansible.builtin.command: dnf -y remove --oldinstallonly
  register: removeoldoutput
  changed_when: removeoldoutput.rc == 0
  ignore_errors: yes

- name: Include sbom_data role for SBOM data collection
  include_role:
    name: sbom_data
  when: collect_sbom_data | bool

- name: Find persistent net rules
  ansible.builtin.find:
    paths: /etc/udev/rules.d
    patterns: "70*"
  register: persistnet_rules

- name: Delete found persistent net rules
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ persistnet_rules.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: Find NetworkManager system connection files
  ansible.builtin.find:
    paths: /etc/NetworkManager/system-connections
    patterns: "*.nmconnection"
  register: networkmanager_system_connection_files

- name: Delete found NetworkManager system connection files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ networkmanager_system_connection_files.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: Delete DNF cache
  command: dnf clean all

- name: Find DNF history files
  ansible.builtin.find:
    paths: /var/lib/dnf
    patterns: "history*"
  register: dnf_history

- name: Reset DNF history
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ dnf_history.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: Find temporary files
  find:
    file_type: any
    paths:
      - /tmp
      - /var/tmp
    patterns: '*'
  register: tmp_files

- name: Remove temporary files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ tmp_files.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: Remove SSH host keys
  block:
    - name: Find SSH host keys
      find:
        paths: /etc/ssh
        patterns: '*host*key*'
      register: host_keys

    - name: Remove SSH host keys
      file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ host_keys.files }}"
      loop_control:
        label: "{{ item.path }}"
  when: cleanup_ssh_host_keys | bool

- name: Remove kickstart files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /root/anaconda-ks.cfg
    - /root/original-ks.cfg

- name: Truncate files
  command: "truncate -s 0 {{ item }}"
  loop:
    - /etc/machine-id
    - /etc/resolv.conf
    - /var/log/audit/audit.log
    - /var/log/wtmp
    - /var/log/lastlog
    - /var/log/btmp
    - /var/log/cron
    - /var/log/maillog
    - /var/log/messages
    - /var/log/secure
    - /var/log/spooler

- name: Remove log folders.
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/log/anaconda
    - /var/log/qemu-ga
    - /var/log/tuned
    - /var/lib/cloud
    - /etc/hostname
    - /etc/machine-info
    - /var/lib/systemd/credential.secret

- name: Find log files.
  find:
    paths:
      - /var/log
      - /var/log/sssd
    patterns: '*log,*.old,*.log.gz,*.[0-9],*.gz,*-????????'
  register: log_files

- name: Remove log files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ log_files.files }}"
  loop_control:
    label: "{{ item.path }}"

- name: Remove random-seed
  file:
    path: /var/lib/systemd/random-seed
    state: absent

- name: Disable root SSH login via password
  when: ansible_facts['distribution_major_version'] | int >= 9
  file:
    path: /etc/ssh/sshd_config.d/01-permitrootlogin.conf
    state: absent

- name: Fill free space with zeroes
  shell: dd if=/dev/zero of=/zeroed_file bs=1M oflag=direct || rm -f /zeroed_file

- name: Detect swap partition
  command: grep -oP '^/dev/[\w-]+' /proc/swaps
  register: swaps
  ignore_errors: true

- name: Wipe out swap data
  block:
    - name: Get swap partition UUID
      command: "blkid {{ swaps.stdout }} -s UUID -o value"
      register: swap_blkid

    - name: Unmount swap partition
      command: "swapoff {{ swaps.stdout }}"

    - name: Fill swap partition with zeroes
      shell: "dd if=/dev/zero of={{ swaps.stdout }} bs=1M oflag=direct || /bin/true"

    - name: Format swap partition
      command: "mkswap -U {{ swap_blkid.stdout }} -f {{ swaps.stdout }}"

    - name: Mount swap partition
      command: "swapon {{ swaps.stdout }}"
  when: swaps.rc == 0

- name: Sync disc
  command: sync

- name: Clear shell history
  shell: history -c

- name: Check if WALinuxAgent is installed
  stat:
    path: /usr/sbin/waagent
  register: cleanup_vm_waagent

- name: Deprovision WALinuxAgent
  command: waagent -deprovision+user -force
  when: cleanup_vm_waagent.stat.exists
