set timeout=0

# load the grubenv file
load_env

# selection of the next boot entry via variables 'next_entry' and
# `saved_entry` present in the 'grubenv' file. Both variables are
# set by grub tools, like grub2-reboot, grub2-set-default

if [ "${next_entry}" ] ; then
   set default="${next_entry}"
   set next_entry=
   save_env next_entry
   set boot_once=true
else
   set default="${saved_entry}"
fi

search --no-floppy --set=root --fs-uuid {{ boot_uuid.stdout }}
set boot=${root}
function load_video {
  insmod all_video
}
${serial}${terminal_input}${terminal_output}
blscfg
